<!DOCTYPE html>

<html lang="en">


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommender</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

	<form method="post" enctype="multipart/form-data">


        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <div class="navbar-header" style="padding: 10px">
                    <a class="navbar-brand" style="font-size: 20pt" href="http://127.0.0.1:8080/image_upload/init/">Recommender</a>
                </div>
                <ul class="nav navbar-nav">
                    {% csrf_token %}

                    <li class="active" style="padding: 10px"><a href="http://inhome360.ru/" style="font-size: 15pt">InHome360</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item" style="padding: 20px">
                        <input class="input" type="file" name="myfile">
                    </li>
                    <li class="nav-item" style="padding: 15px">
                        <button type="submit" class="btn btn-info">Загрузить</button>
                    </li>
                </ul>
            </div>
        </nav>

        {% block body_block %}{% endblock %}

	</form>

</body>

</html>